In [2]:
#dependencies
import pandas as pd

Reading in the CSVs

In [3]:
#file path
stations = "Resources/data/hawaii_stations.csv"

In [4]:
#read it into a dataframe
stations_df=pd.read_csv(stations, dtype=object)

In [5]:
#check
stations_df.head()

,station,name,latitude,longitude,elevation,location
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3,POINT(21.2716 -157.8168)
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6,POINT(21.4234 -157.8015)
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7,POINT(21.5213 -157.8374)
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9,POINT(21.3934 -157.9751)
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6,POINT(21.4992 -158.0111)

In [6]:
#file path
measurements = "Resources/data/hawaii_measurements.csv"

In [7]:
#read it into a dataframe
measurements_df=pd.read_csv(measurements, dtype=object)

In [8]:
#check
measurements_df.head()

       station        date  prcp tobs
0  USC00519397  2010-01-01  0.08   65
1  USC00519397  2010-01-02     0   63
2  USC00519397  2010-01-03     0   74
3  USC00519397  2010-01-04     0   76
4  USC00519397  2010-01-06   NaN   73

Begin Cleaning

In [10]:
# Identify incomplete rows
stations_df.count()

station      9
name         9
latitude     9
longitude    9
elevation    9
location     9
dtype: int64

In [14]:
# Identify incomplete rows
measurements_df.count()

station    19550
date       19550
prcp       18103
tobs       19550
dtype: int64

In [15]:
# Drop all rows with missing information
measurements_df = measurements_df.dropna(how='any')

In [16]:
# Verify
measurements_df.count()

station    18103
date       18103
prcp       18103
tobs       18103
dtype: int64

In [17]:
stations_df.dtypes

station      object
name         object
latitude     object
longitude    object
elevation    object
location     object
dtype: object

In [18]:
measurements_df.dtypes

station    object
date       object
prcp       object
tobs       object
dtype: object

In [20]:
# Save file
stations_df.to_csv('clean_hawaii_stations.csv', index=False)

In [21]:
# Save file
measurements_df.to_csv('clean_hawaii_measurements.csv', index=False)